# Remove the question mark from the request but maintain the query string
RewriteEngine On
RewriteRule "admin/show" "index.php?controller=admin&action=show"
RewriteRule "home/show" "index.php?controller=home&action=show"
RewriteRule "admin/add" "index.php?controller=admin&action=add"
#RewriteRule "admin/edit" "index.php?controller=admin&action=edit"
RewriteRule ^admin/drop/([0-9]+) "index.php?controller=admin&action=drop&id=$1"
RewriteRule ^admin/edit/([0-9]+) "index.php?controller=admin&action=edit&id=$1"
